u<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Ecommerce UI Test Suite" parallel="methods" thread-count="6">
    <test name="Ecommerce E2E Test">
        <parameter name="browser" value="${browser}"/>
        <parameter name="isLambdaTest" value="${isLambdaTest}"/>
        <parameter name="isHeadless" value="${isHeadless}"/>

        <classes>
            <class name="com.opencart.tests.LoginTest">
                <methods>
                    <include name="verifyValidLoginTestWithJSON"/>
                    <include name="verifyInvalidLoginTest"/>
                    <include name="verifyValidLoginTestsWithCSV"/>
                    <include name="verifyValidLoginTestsWithExcel"/>
                    <exclude name="verifyRetriesAndScreenshot"/>
                </methods>
            </class>
            <class name="com.opencart.tests.AddNewAddressTest">
                <methods>
                    <include name="verifyAddNewAddress"/>
                </methods>
            </class>
            <class name="com.opencart.tests.SearchProductTest">
                <methods>
                    <include name="verifyProductSearchTest"/>
                </methods>
            </class>
            <class name="com.opencart.tests.ProductCheckoutTest">
                <methods>
                    <include name="verifyProductOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
